{% set pagina = 'create_mensajes' %}

{% extends 'StaticBundle:Primary:base.html.twig' %}

{% block title %} | Mensajes | Nuevo{% endblock %}


{% block css %}
<link href="{{ asset('bundles/admin/css/adminStyle.css') }}" rel="stylesheet" type="text/css">
{% endblock %}



{% block contenido %}
<div class="container">
	<div class="row">
		
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h2>Nuevo mensaje</h2>
			<form class="twigform" action="{{ path('admin_c_mensaje') }}" method="post" {{ form_enctype(form) }}>
				{% for f in form %}
					{{ form_row(f) }}
				{% endfor %}
				<div class="form-group text-right">
					<input type="submit" class="btn btn-primary" value="Crear Mensaje" />
				</div>
			</form>
		</div>		
		
	</div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript" src="{{ asset('bundles/admin/js/admin.js') }}"></script>
{% endblock %}
