{% set pagina = 'single_mensaje' %}

{% extends 'StaticBundle:Primary:base.html.twig' %}

{% block title %} | Mensaje | {{ mensaje.titulo }}{% endblock %}


{% block css %}

{% endblock %}



{% block contenido %}
<div class="container">
	<div class="row">
	
		<h1 class="col-xs-8">{{ mensaje.titulo }}</h1>
		<div class="col-xs-4 text-right">
			<h2>{{ mensaje.fecha|date('d/m/Y') }}</h2>
		</div>
		<div class="col-xs-12" style="border-bottom: 3px solid #002360; border-top: 3px solid #002360;">
			<h2>{{ mensaje.comunidad.nombre }}</h2>
			<p>{{ mensaje.comunidad.direccion }}</p>
		</div>
		<p class="col-xs-12">
			{{ mensaje.cuerpo }}
		</p>
		{% if mensaje.archivos|length > 0 %}
		<ul class="col-xs-12" style="list-style-type:none;padding-left: 40px;">
			{% for a in mensaje.archivos %}
			<li style="margin-bottom: 8px;"> 
				<a href="{{ path('user_descarga_adjunto', {'id':a.id}) }}" class="btn btn-success btn-sm">
					<span class="glyphicon glyphicon-cloud-download"></span> Descargar
				</a>
				<span class="glyphicon glyphicon-paperclip"></span> 
				{{ a.name }} ({{ a.kb }}Kb)
			</li>
			{% endfor %}
		</ul>
		{% endif %}
		
	</div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript" src="{{ asset('bundles/admin/js/admin.js') }}"></script>
{% endblock %}
